@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'); 

:root {
  --color-text: #33332d;
  --bg-color: #fff;
  --font-family: "IBM Plex Mono", monospace;
}


body {
  margin: 0;
  font-family: var(--font-family);
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: var(--font-family);
}

.Navitem {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--color-text);
  font-family: var(--font-family);
}
.Navitem:hover {
  background-color: var(--color-text);
  color: var(--bg-color);
  font-weight: 700;
}
.profilepic{
  aspect-ratio: 1/0.96;
  border-radius: 100%;
  border:5px solid var(--color-text);
}


.hamburger {
  margin:1vw;
  position:absolute;
  top:0;
  left:0;
  z-index: 1002;
  height:2vh;

}

.hamburger-popup {
  position: absolute; 
  top: 100%;
  left: 0;
  background-color: #fff; 
  z-index: 1001; 
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the flex container */
  padding: 20px; /* Add some padding */
}

.imglinks {
  height:auto;
  margin: 1vw;
}
.link-container {
  position: absolute;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.text {
  color: var(--color-text);
  font-family: var(--font-family);
}
.text1 {
  color: var(--color-text);
  font-family: var(--font-family);
  margin-bottom: 4%;
}


.cardimg {
  width:60px;
}
.split {
  display: flex;
   align-items:center ;
   justify-content:center;

}
/* .masonry-container {
  column-count: 3;
  column-gap: 1rem;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
} */

.masonry-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  grid-gap: 1rem; /* space between items */
  grid-auto-rows: minmax(100px, auto); /* minimum row height */
}
.masonry-item {
  margin-bottom: 0; /* optional, depending on your design */
}

.ccard{
  
  border-radius: 2%;
  transition: transform 0.3s ease-in-out;
}

@media (width>=950px) {
  .Navbar {
    margin: 1vh;
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .Hamburger-nav{
    display: none;
  }
  .profilepic {
    width: 20vw;
  }
  .imglinks {
    width:3vw;
  }
  .masonry-container {
    column-count: 3;
  }
  .ccard:hover{
  
  transform: scale(1.015);
}
  
}
@media (width<950px) and (width >500px) {
  .Navbar {
    display: none;
  }
  .Hamburger-nav{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }
  .profilepic {
    width: 40vw;
  }
  .imglinks {
    width: 5vw;
  }
}

@media (width<=500px) {
  .Navbar {
    display: none;
  }
  .Hamburger-nav{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }
  .profilepic {
    width:50vw;
  }
  .imglinks {
    width: 10vw;
  }
}

@media (width >=576px) and (width <950px) {
  .masonry-container {
    grid-template-columns: repeat(2, 1fr); /* 3 columns of equal width */
  }
}
@media (width < 576px) {
  .masonry-container {
    grid-template-columns: repeat(1, 1fr); /* 3 columns of equal width */
  }
}
